* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

body {
  background: #fff;
  font-family: "Roboto", Roboto, Oxygen, sans-serif;
  background: rgb(220, 218, 228);
}

a {
  color: #0032bd;
}

img {
  width: 100%;
}

/* Class Helpers */
._flex {
  display: flex;
  align-items: center;
}
._flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* App */
.App {
  padding: 36px 10px;
}
._wrapper {
  padding: 24px 12px;
  text-align: center;
  background: rgba(255, 255, 255, 0.98);
  border-radius: 6px;
  box-shadow: 1px 1px 24px rgba(0, 0, 0, 0.075);
}

header {
  padding: 16px 0 4px;
  /* margin-bottom: 12px; */
}

._title a {
  color: #2e4196;
}
._title span {
  font-weight: bold;
}

.modalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  min-width: 320px;
  max-width: 640px;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.22);
}
.modalContent img {
  max-height: 95vh;
  object-fit: contain;
  background: #f8f8f8;
  border: 1px solid #eee;
}
footer {
  padding: 24px 0;
  margin-top: 12px;
  text-align: center;
}
