* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

body {
  background: #fff;
  font-family: "Roboto", Roboto, Oxygen, sans-serif;
  background: rgb(220, 218, 228);
}

a {
  color: #0032bd;
}

img {
  width: 100%;
}

/* Class Helpers */
._flex {
  display: flex;
  align-items: center;
}
._flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* App */
.App {
  padding: 24px 12px;
}
._wrapper {
  padding: 24px 12px;
  text-align: center;
  background: rgba(255, 255, 255, 0.98);
  backdrop-filter: blur(8px);
  border-radius: 8px;
  box-shadow: 1px 1px 24px rgba(0, 0, 0, 0.075);
}

header {
  padding: 12px 0 4px;
  /* margin-bottom: 12px; */
}

._title a {
  color: #222;
}
._title span {
  font-weight: bold;
}

footer {
  padding: 24px 0;
  margin-top: 12px;
  text-align: center;
}
